* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}

/* LOGO */
.logo {
    margin:auto;
    text-align: center;
    margin-bottom: 35px;
    margin-top:35px;
}
.logo img{
    width:270px;
    height:195px;
}

/* INTRO */
.intro {
    margin-top:100px;
    text-align: center;
    margin:auto;
    width:70%;
}
.intro h1 {
    font-size: 35px;
}

/* SCOREBOARD */
.scoreboard ul {
    text-align: center;
    margin-top:50px
}
.scoreboard ul li {
    list-style: none;
    font-size: 25px;
    display: inline;
    padding: 30px;
}

/* BUTTON */
button {
    color: white;
    padding: 20px;
    border: none;
    background-color: #071163;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    min-width:150px;
}
button:hover {
	background-color: #050435;
	cursor: pointer;
}

/* FORM */
form {
    width: 60%;
    margin-top:20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.question {
    margin-top:45px;
    text-align: center;
    display: block;
    font-size: 28px;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
fieldset {
    border: none;
}
label {
    display:block;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    padding:15px;
    text-transform: uppercase;
    cursor: pointer;
    font-size:18px;
}
.quiz button {
    display:block;
    margin:auto;
    margin-top:30px;
}
input {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    margin-right: 5px;
}
input[type=radio] {
    margin-right: 10px;
    vertical-align: middle;
    width:1.1em;
}
#submitAnswer {
    margin-bottom: 20px;
}

/* FEEDBACK */
.feedback {
    text-align: center;
    font-size: 24px;
}
.feedback h2 {
    text-transform: uppercase;
}
.wrong span {
    text-transform: uppercase;
    color:green;
}
.wrong h5 {
    margin-top:15px;
    font-size:22px;
}
.A h2, .B h2, .C h2, .correct h2 {
   color: green; 
}
.F h2, .wrong h2 {
    color: red;
}
.warning {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 22px;
}

/* FOOTER */
footer {
    background-image: url('http://images.mentalfloss.com/sites/default/files/styles/mf_image_3x2/public/50913-iStock-638589782.jpg?itok=HTYdWBM0&resize=1100x740');
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
    margin-top: 50px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    label {
        width:100%;
    }
    form {
        width:85%;
    }
}
